* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  margin-top: 60px;
}
.hero_content {
  display: flex;
}
.hero_left h1 {
  margin-top: 163px;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 27px;
}
.hero_left p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 66px;
}
.hero_left button {
  font-size: 20px;
  font-weight: 500;
  width: 181px;
  height: 60px;
  border-radius: 8px;
  background-color: #0f0f54;
  color: white;
  cursor: pointer;
  border: none;
}
.one_content {
  margin-top: 168px;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.one_content img {
  height: 100%;
  width: 100%;
}
.shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.666);
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadow img {
  width: 70px;
  height: 70px;
}

.two_content {
  display: flex;
  background-color: #0f0f54;
  border-radius: 20px;
  height: 480px;
  margin-top: 366px;
}
.two_left {
  margin-top: 126px;
  margin-left: 80px;
}

.two_left h2 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.two_left p {
  color: white;
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
}

.two_right img {
  margin-top: -206px;
}

.three_content {
  display: flex;
  margin-top: 226px;
}

.three_right {
  margin-top: 170px;
  margin-left: 68px;
}
.three_right h2 {
  font-size: 50px;
  font-weight: 600;
}
.three_right p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.four_content {
  display: flex;
  margin-top: 361px;
  background-color: #f9e0c7;
  height: 480px;
  border-radius: 20px;
}
.four_left {
  margin-top: 109px;
  margin-left: 61px;
}
.four_left h2 {
  font-size: 50px;
  font-weight: 700;
}
.four_left p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}
.four_right img {
  margin-top: -231px;
}

.five_content {
  display: flex;
  height: 480px;
  background-color: #f8f8f8;
  border-radius: 20px;
  margin-top: 244px;
}

.five_left img {
  margin-left: 61px;
}
.five_right {
  margin-top: 162px;
  margin-left: 55px;
}
.five_right h2 {
  font-size: 40px;
  font-weight: 600;
}
.five_right img {
  margin-top: 50px;
  gap: 20px;
}

.foot_content {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
}
.foot_left p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 47px;
  margin-bottom: 64px;
  color: #000000;
}
.foot_center {
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
}

.right_one img {
  margin-top: 50px;
  width: 202px;
  margin-top: 30px;
}
.right_two img {
  margin-left: 29px;
  margin-top: 10px;
  width: 112px;
}
.nav_list li {
  color: black;
  list-style: none;
}
.nav_list li a {
  text-decoration: none;
}
.foot_content_mobile{
  display: none;
}
@media (max-width: 776px) {
  .logo {
    margin-top: 81px;
  }
  .container {
    padding: 20px;
  }
  .hero_content {
    flex-direction: column-reverse;
  }
  .hero_left h1 {
    margin-top: 11px;
    font-size: 36px;
    margin-bottom: 16px;
  }
  .hero_left p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 28px;
  }
  .hero_left button {
    font-size: 18px;
    width: 151px;
    height: 57px;
  }
  .hero_right img {
    width: 100%;
  }
  .one_content {
    margin-top: 134px;
    height: 220px;
    border-radius: 10px;
  }

  .shadow img {
    width: 50px;
    height: 50px;
  }
  .two_content {
    border-radius: 10px;
    height: 613px;
    margin-top: 274px;
    flex-direction: column-reverse;
  }
  .two_left {
    margin-top: 14px;
    margin-left: 24px;
    padding-right: 24px;
  }

  .two_left h2 {
    color: white;
    font-size: 26px;
    font-weight: 600;
  }
  .two_left p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 36px;
  }

  .two_right img {
    margin-top: -156px;
    width: 100%;
  }
  .three_content {
    flex-direction: column;
    margin-top: 78px;
  }
  .three_left img {
    width: 100%;
  }
  .three_right h2 {
    font-size: 26px;
    margin-top: -140px;
  }
  .three_right p {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .four_content {
    margin-top: 230px;
    height: 643px;
    border-radius: 10px;
    flex-direction: column-reverse;
  }
  .four_left {
    margin-top: 21px;
    margin-left: 24px;
  }
  .four_left h2 {
    font-size: 26px;
    font-weight: 600;
  }
  .four_left p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 36px;
    line-height: 30px;
  }
  .four_right{
    display: flex;
    justify-content: center;
  }
  .four_right img {
    width: 288px;
    height: 516px;
  }
  .five_content {
    flex-direction: column;
    height: 246px;
    border-radius: 10px;
    margin-top: 196px;
  }
  .five_left{
    display: flex;
    justify-content: center;
  }
  .five_left img {
    width: 302px;
    height: 369px;
    margin-top: -123px;
    margin-left: 0;
  }

  .five_right {
    margin-top: 32px;
    margin-left: 0 px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .five_right h2 {
    font-size: 18px;
  }
  .five_right img {
    margin-top: 32px;
    gap: 10px;
    width: 122px;
  }
  .foot_content{
    display: none;
  }
  .foot_content_mobile{
    display: block;
    margin-top: 140px;
    display: flex;
  }









}